<div *ngFor="let repo of repos" class="list-group ">
    <section class="d-flex w-100 justify-content-between align-items-center">
        <div class="w-100  my-2 repo">
            <a routerLink="repodetails/display-data" (click) ="selectRepo(repo.name)" class="list-group-item list-group-item-action">
                <p>Repo Name: {{repo.name}}</p>
                <span>Description: {{repo.description}}</span>
            </a>
           
        </div>
        <button type="button" class="btn btn-outline-danger" (click)="deleteRepo(repo.name)">Delete</button>
    </section>
</div>